@model WebStore.Models.Employee


 <div class="container">
    <h2 class="title text-center">Карточка сотрудника</h2>
    <div style="display: flex; max-width: 550px; margin: 0 auto" >
        <div style="object-fit: contain; width: 200px; height: 200px">
            @*<img src="@String.Format("~/images/photo/{0}.png", Model.Id)" alt="photo">*@
            <img style="max-height: 100%; width: auto" src="~/images/photos/@ViewBag.Image" alt="photo">
        </div>
        <div>
            <form action="#">
                <table width="100%" cellspacing="0" cellpadding="4">
                    <tr> 
                        <td align="right" width="200">Табельный номер</td>
                        <td>@Model.Id</td>
                    </tr>
                    <tr> 
                        <td align="right" width="200">Фамилия</td>
                        <td><input type="text" size="20" value="@Model.LastName"></td>
                    </tr>
                    <tr> 
                        <td align="right" width="200">Имя</td>
                    <td><input type="text" size="20" value="@Model.FirstName"></td>
                    </tr>
                    <tr> 
                        <td align="right" width="200">Отчество</td>
                        <td><input type="text" size="20" value="@Model.Patronymic"></td>
                    </tr>
                    <tr> 
                        <td align="right" width="200">Возраст</td>
                        <td><input type="number" size="20" value="@Model.Age"></td>
                    </tr>
                    <tr> 
                        <td align="right" width="200">Должность</td>
                        <td><input type="text" size="20" value="@Model.Position"></td>
                    </tr>
                    <tr> 
                        <td align="right" width="200">Дата приема на работу</td>
                        <td><input type="text" size="20" value="@Model.DateOfEmployment"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr> 
                        <td></td>
                        <td><input type="submit" value="Сохранить изменения"></td>
                    </tr>
                </table>
            </form>
        </div>    
    </div>
    <hr/>
    <a asp-action="Index">Назад к списку сотрудников</a>
 

 </div>